<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong><br>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong><br>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong><br>
  <%= @user.email %>
</p>
<p>
  <strong>Books:</strong><br>
  <% @user.books.each do |book| %>
  	<%= book.title %><br>
  	<%= book.author %><br>
  	<%= book.isbn %><br>
  	<%= book.description %><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
