<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-left">
				<%= link_to "Collection App", "home", id:"logo" %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Clubs", "clubs" %> </li>
				<li><%= link_to "Books", "books" %> </li>
				<li><%= link_to "Libraries", "libraries" %> </li>
				<li><%= link_to "Users", "users" %> </li>
				<li><%= link_to "Logout", "logout" %> </li>
			</ul>
		</nav>
	</div>
</header>